body {
  background-color: #191919;
}

.container {
  width: 50%;
  margin: 0 auto;
  padding: 20px;
  background-color: #191919;
  color: white;
  font-family: "Open Sans", serif;
  position: relative;
}

.headingProfile {
  margin: 20px 0;
  font-size: 26px;
}

.breadcrumb {
  margin: 20px 0;
  font-size: 14px;
  color: white;
  display: flex;
  align-items: center;
  gap: 10px;

  & span {
    font-size: 14px;
  }
}

.breadcrumb a {
  color: white;
  text-decoration: none;
}

.form-row .form-group {
  flex: 1;
}

.form-row {
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
  margin: 25px 0;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
  font-weight: bold;
}

.form-group input,
.form-group select {
  padding: 10px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #191919;
  color: white;
}

.gender-options {
  margin: 25px 0;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 35px;
}

.gender-options input[type="radio"] {
  margin-right: 5px;
  accent-color: #12daa8;
}

.button {
  display: flex;
  justify-content: center;
  gap: 25px;
  padding-right: 27px;
}

.button .save,
.button .discard {
  padding: 10px 20px;
  border: 1px solid white;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  background-color: #191919;
  color: white;
}

.save:hover,
.discard:hover {
  background-color: #12daa8;
  color: black;
}
.logOutBtn {
  position: absolute;
  right: 0;
  background-color: #12daa8;
  border: 1px solid white;
  border-radius: 5px;
  padding: 5px 10px;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
@media (max-width: 991.98px) {
  .container {
    width: 85%;
  }
}
