* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", serif; */
}

body {
  background-color: #f9f9f9;
}

.cart {
  width: 70%;
  /* height: 100vh; */
  background-color: #f9f9f9;
  /* border: 1px solid black; */
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", serif;
}

.cart-heading {
  margin: 30px 0;
  font-size: 20px;
  font-weight: bolder;
}

.cart-container {
  display: flex;
  gap: 25px;
}

.left-container {
  width: 70%;
}

.right-container {
  position: sticky;
  top: 35px;
  width: 30%;
  height: 100%;
}

.apply-coupons {
  margin: 0 0 30px 0;
  display: flex;
  justify-content: space-between;
  padding: 25px;
  border: 1px solid white;
  background-color: white;

  & .left-coup {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: bolder;
    font-size: 20px;

    & i {
      padding: 5px 7px;
      border: 2px solid black;
      border-radius: 50px;
      font-size: 14px;
    }
  }

  & .right-coup {
    display: flex;
    align-items: center;

    & span {
      font-size: 26px;
    }
  }
}

.order-list {
  display: flex;
  flex-direction: column;
}

.order-container {
  padding: 25px;
  margin: 25px 0;
  background-color: white;
  display: flex;

  .order-image {
    width: 25%;
    display: flex;
    align-items: center;

    & img {
      width: 80%;
    }
  }
  .order-detail {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  .order-amount {
    width: 25%;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
}

.order-amount-mobile {
  display: none;
}

.order-name {
  font-weight: bold;
}

.order-rating {
  color: #12daa8;
}

.odrer-delivery {
  display: flex;
  flex-direction: column;
  font-weight: 400;
}

.selection-buttons {
  display: flex;
  gap: 20px;
}

.wishlist-button,
.remove-button {
  padding: 10px 15px;
  border: 1px solid black;
  border-radius: 8px;
  font-weight: 600;
  background-color: white;
}

.total-amount {
  text-align: end;

  & :nth-child(1) {
    font-weight: bolder;
    font-size: 24px;
  }
}

.saves-amount {
  text-align: end;

  padding: 10px 0;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;

  & :nth-child(1) {
    text-decoration: line-through;
  }

  & :nth-child(2) {
    color: grey;
  }
}

.emi-amount {
  text-align: end;

  & :nth-child(1) {
    font-weight: bolder;
    font-size: 20px;
  }

  & :nth-child(2) {
    color: #119b78;
  }
}

.right-container {
  padding: 25px;
  background-color: white;
}

.order-summary {
  display: flex;
  flex-direction: column;
  gap: 15px;

  & .sum-heading {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    font-weight: bolder;
    font-size: 18px;
  }
}

.bill-amount {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  padding: 10px 0;
  border: none;
  border-radius: 8px;
  background-color: #12daa8;
  font-weight: bold;
}

@media (max-width: 600.99px) {
  .cart {
    width: 90%;
  }

  .apply-coupons {
    padding: 15px;
  }

  .cart-container {
    flex-direction: column;
  }

  .order-container {
    padding: 15px 5px;

    .order-image {
      width: 40%;
      justify-content: center;

      & img {
        width: 90%;
      }
    }

    .order-detail {
      width: 60%;
      font-size: 14px;
      gap: 10px;
    }

    & .order-amount {
      display: none;
    }
  }

  .odrer-delivery {
    font-size: 14px;
  }

  .order-name {
    font-size: 18px;
  }

  .order-amount-mobile {
    display: flex;
    flex-direction: column;
    gap: 10px;
    & .total-amount-mobile {
      & :nth-child(1) {
        font-weight: bold;
        font-size: 15px;
      }

      & :nth-child(2) {
        font-size: 12px;
      }
    }

    & .saves-amount-mobile {
      display: flex;
      flex-direction: column;
      gap: 5px;
      font-size: 12px;

      & :nth-child(1) {
        text-decoration: line-through;
      }

      & :nth-child(2) {
        color: grey;
      }
    }

    & .emi-amount-mobile {
      display: flex;
      gap: 10px;

      & :nth-child(1) {
        font-weight: bold;
        font-size: 12px;
      }

      & :nth-child(2) {
        color: #119b78;
        font-size: 12px;
      }
    }
  }

  .selection-buttons {
    gap: 10px;
  }

  .remove-button,
  .wishlist-button {
    font-size: 12px;
    padding: 10px 10px;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 90%;
    margin: 0 auto;
  }
}

@media (min-width: 601px) and (max-width: 950.99px) {
  .cart {
    width: 90%;
  }

  .cart-container {
    flex-direction: column;
  }

  .left-container {
    width: 100%;
  }

  .right-container {
    width: 70%;
    margin: 0 auto;
    position: static;
    top: auto;
  }
}

@media (min-width: 951px) and (max-width: 1250.99px) {
  .cart {
    width: 90%;
  }
}

@media (min-width: 1251px) and (max-width: 1650.99px) {
  .cart {
    width: 70%;
  }
}

@media (min-width: 1651px) and (max-width: 2000.99px) {
  .cart {
    width: 70%;
  }
}

@media (min-width: 2001px) and (max-width: 2350.99px) {
  .cart {
    width: 60%;
  }
}

@media (min-width: 2351px) {
  .cart {
    width: 50%;
  }
}
